<!DOCTYPE html>
<html>
<head>
    <title>Sentiment140 Student Keras Model</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="header">Sentiment Analysis Keras Model</div>
    <div class="container">
        <form id="twitterForm">
            <input type="text" id="twitterLinkInput" name="twitter_link" placeholder="Enter Comment to analyze">
            <button type="button" class="action-button" id="getDataButton">Get Predictions</button>
        </form>
        <div id="twitterData" class="data-box">Response is displayed here</div>
        
        <!-- Add a new input box for entering a video URL -->
        <form id="youtubeForm">
            <input type="text" id="videoUrlInput" name="video_url" placeholder="Enter Video URL">
            <input type="text" id="youtubeApiKeyInput" name="youtube_api_key" placeholder="Enter YouTube API Key">
            <button type="button" class="action-button" id="predictOnURLButton">Predict on URL</button>
        </form>
        <div id="youtubeData" class="data-box">Predictions for YouTube comments will appear here</div>
    </div>
    <div class="footer">
        This is a student project and not fit for commercial use.
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>